@import url("variables.css");
@import url("fonts.css");
@import url("loading.css");
@import url("skeleton-loader.css");
@import url("flag.css");
@import url("title.css");
@import url("modale.css");
@import url("geolocation-image.css");
@import url("box-climat-information.css");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container { /* Nouveau conteneur pour englober le contenu */
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 1) 60%,
    rgba(255, 251, 251, 1) 100%
  );
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /* grid-template-rows: auto 1fr auto; */
    grid-template-rows: auto minmax(0, 1fr) auto; 
}

@media (min-width: 700px) {
  .app-container {
    grid-template-areas:
      "header aside"
      "main aside"
      "footer footer";
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
  }

  /* ////ASIDE */
  aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  /* //////////// */
}

body {
  font-family: var(--font-default);
  font-weight: var(--font-weight-regular);
  font-size: clamp(0.75rem, 2vw, 0.9rem);
  min-width: 360px; 
  background-size: 100% 100%;  
}



header {
  padding: 0.6rem 0.6rem 0rem 0.6rem;
  grid-area: header;
  min-height: 235px;
}

@media (min-width: 700px) {
  header {
    height: 263px; /* Ou ajustez selon vos besoins */
  }
}

main {
  grid-area: main;
  flex: 1;
  /* overflow-y: auto;  */
  padding: 0 0.6rem 0.6rem 0.6rem;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  justify-content: center;
  min-height: 30px; /* Assurer une hauteur minimale au footer */
  background-color: transparent;
  font-size: 0.6rem;
  flex-wrap: wrap;
}

.container-weather {
  background-color: var(--color-background-box);
}

.image-location-container,
.weather-box {
  width: 100%;
}




