
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --color-primary: #87CEEB;
  --color-background-box: #FFFBFB;
  --color-style: #90EE90;
  --color-input-background: #F2F2F2;  
  
}

/* /// -fonts- ////////////////////*/
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* //////////////////////////////////// */




body {
  min-width: 360px;
  min-height: 100vh; 
  background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 60%, rgba(255,251,251,1) 100%);
}

