/* //Modale alert/////////// */
.modale-alert {
  background-color: var(--color-background-box);
  min-height: 260px;
  max-height: 347px;
  padding: 0px 0 10px 0;
  display: flex;
  flex-direction: column;
  transition: opacity 1.5s ease-in-out;
}

.modale-alert-disabled {
  display: none;
}

.message-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 35px;
  flex: 1;
}

.button-alert {
  width: 20%;
  min-width: 120px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(var(--color-primary));
}
